@tailwind base;
@tailwind components;
@tailwind utilities;


  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f3f5;
    margin: 0;
    padding: 0;
  }
  
  .note-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;  /*  Limit how wide the grid can go */
    margin: 0 auto;     /*  Center the grid horizontally */
    padding: 20px;
  }
  @media (max-width: 600px) {
    .note-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  } 
  